/* You can add global styles to this file, and also import other style files */

// Global icon font
@import "./assets/fonts/feather/style.css";

// NobleUI styles for LTR
@import "./assets/scss/style";

// NobleUI styles For RTL
// @import "./assets/scss/style.rtl.css";

.auth-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dropdown-divider {
  opacity: 1 !important;
}
